---
import { getCollection } from "astro:content";
import Layout from "~layouts/Layout.astro";
import Container from "~components/Container.astro";
import PostList from "~components/PostList.astro";
import { Icon } from "astro-icon/components";

const posts = await getCollection("posts");
---

<Layout title="Posts">
  <Container>
    <h1
      class="text-lg md:text-xl lg:text-3xl text-brand font-bold"
      style="text-shadow: 3px 3px 6px rgba(100, 100, 100, 0.7);"
    >
      My CS Journey
    </h1>
    <p class="md:w-2/3 text-xs md:text-sm lg:text-base">
      Computer Science Mathematics, Machine Learning and Parallel Computing Notes Inspired by the Books
      <a
        href="https://www.statlearning.com"
        target="_blank"
        class="underline underline-offset-4 decoration-dashed decoration-brand"
      >
        Introduction to Statistical Learning
      </a>
      &
      <a
        href="https://shop.elsevier.com/books/programming-massively-parallel-processors/hwu/978-0-323-91231-0"
        target="_blank"
        class="underline underline-offset-4 decoration-dashed decoration-brand"
      >
        Programming Massively Parallel Processors
      </a>
      <Icon
        name="mdi:external-link"
        class="inline-block w-3 h-3 md:w-4 md:h-4 ml-1"
      />
    </p>
    <PostList posts={posts} />
  </Container>
</Layout>
