---
import { getCollection } from "astro:content";
import Layout from "~layouts/Layout.astro";
import Container from "~components/Container.astro";
import PostList from "~components/PostList.astro";

const posts = await getCollection("posts");
---

<Layout title="Posts">
  <Container>
    <h1
      class="text-lg md:text-xl lg:text-3xl text-brand font-bold"
      style="text-shadow: 3px 3px 6px rgba(100, 100, 100, 0.7);"
    >
      My Computer Science Journey
    </h1>
    <PostList posts={posts} />
  </Container>
</Layout>
