---
import { getCollection } from 'astro:content'
import Layout from '~layouts/Layout.astro'
import Container from '~components/Container.astro'
import PostList from '~components/PostList.astro'
import { Icon } from "astro-icon/components";

const posts = await getCollection('posts')
---

<Layout title="Posts">
    <Container>
        <h1 class="text-2xl md:text-4xl text-brand font-bold">My CS Journey</h1>
        <p class="md:w-2/3 text-sm md:text-base">
            My work is inspired by the books
            <a href="https://www.statlearning.com" target="_blank" class="underline underline-offset-4 decoration-dashed decoration-brand">
                An Introduction to Statistical Learning
            </a>
            <Icon name="mdi:external-link" class="inline-block w-4 h-4 ml-1" /> 
            and 
            <a href="https://www.elsevier.com/books/programming-massively-parallel-processors/kirk/978-0-12-820249-0" target="_blank" class="underline underline-offset-4 decoration-dashed decoration-brand">
                Programming Massively Parallel Processors
            </a>
            <Icon name="mdi:external-link" class="inline-block w-4 h-4 ml-1" />, and as well as the large language models.
        </p>
        <PostList
            class:list={['mt-8']}
            posts={posts}
        />
    </Container>
</Layout>

