---
import Layout from '~layouts/Layout.astro'
import Container from '~components/Container.astro'
import BrandLink from '~components/BrandLink.astro'
import SocialBar from '~components/SocialBar.astro'
import Avatar from '~components/Avatar.astro'
import ButtonLink from '~components/ButtonLink.astro'
import { config } from '~config'
---

<Layout title="Astroberry">
	<Container>
		<Avatar />
		<h1 class="text-3xl md:text-5xl text-brand font-bold" style="text-shadow: 3px 3px 6px rgba(100, 100, 100, 0.7);">
			Onur Onel
		</h1>
		
			
		<p class="text-lg md:text-xl">
			BSc. Software Engineering at <BrandLink /> 
		</p>
		<p class="text-lg md:text-xl">
			My interests are mathematics, statistical learning, parallel processing, and optimizing machine learning models. Explore my Computer Science journey by clicking the button below!
		</p>
		<SocialBar />
		<ButtonLink href="/posts/">Read My Blogs</ButtonLink>
	</Container>
</Layout>
