---
import { Icon } from "astro-icon/components";
---

<a href="https://www.trentu.ca/" target="_blank" class="underline underline-offset-4 decoration-dashed decoration-brand">
    Trent University
</a>
<Icon name="mdi:external-link" class="inline-block w-4 h-4" />
