---
import { Icon } from "astro-icon/components";
---

<a
  href="https://www.uottawa.ca//"
  target="_blank"
  class="underline underline-offset-4 decoration-dashed decoration-brand"
>
  University of Ottawa
</a>
<Icon name="mdi:external-link" class="inline-block w-4 h-4" />
