---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    class?: string;
}

const props = Astro.props;
---

<div class:list={[props.class]}>
    <a 
        class="inline-flex items-center text-content-color bg-tahiti-color border-[2px] border-brand-color rounded-md shadow-md transition hover:bg-brand-color hover:text-tahiti-color" 
        href={props.href}
    >
        <span class="px-3 py-1 rounded-l-md text-sm font-medium">
            <slot />
        </span>
        <span class="p-1 border-l-[1px] border-brand-color rounded-r-md bg-content-color hover:bg-tahiti-color">
            <Icon name="mdi:arrow-right" class="w-5 h-5 fill-icon-fill hover:fill-icon-fill-hover transition-colors" />
        </span>
    </a>
</div>

