---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    class?: string;
}

const props = Astro.props;
---

<div class:list={[props.class]}>
    <a class="inline-flex" href={props.href}>
        <span class="px-3 py-1 border-[1px] rounded-l text-m">
            <slot />
        </span>
        <span class="p- border-[1px] border-l-0 rounded-r">
            <Icon name="mdi:arrow-right" class="w-5 h-5 cursor-pointer hover:text-brand" />
        </span>
    </a>
</div>
